<a href="https://colab.research.google.com/github/lluk4z/MiniprojetoFinal-Bcw6-Soulcode/blob/main/MiniProjetoFinalPySpark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

In [ ]:
pip install gcsfs

In [ ]:
pip install fsspec

Requirement already satisfied: fsspec in /usr/local/lib/python3.7/dist-packages (2021.11.0)

In [ ]:
import gcsfs
from io import BytesIO, StringIO
from google.cloud import storage
from google.oauth2 import service_account

from pyspark.sql.types import StructType,StructField, StringType, IntegerType, FloatType, DoubleType

import pandas as pd

from pyspark.sql import SparkSession
import pyspark.sql.functions as F
from pyspark.sql.window import Window as W

from google.colab import files
import io

In [ ]:
# Configurar a nossa sparksession
spark = (SparkSession.builder
        .master("local")
        .appName("MiniProjetoFinal")
        .config('spark.ui.port', '4050')
        .getOrCreate())

In [ ]:
spark

In [ ]:
uploaded = files.upload()

Saving marketing_campaign_tratado.csv to marketing_campaign_tratado.csv

In [ ]:
import os

serviceAccount = '/content/miniprojetofinal-85ab556ec3ea.json'
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = serviceAccount

In [ ]:
df = (
    spark.read.format("csv")
        .option("header", "true")
        .option("inferSchema", "true")
        .option("delimiter", ",")
        .load('/content/marketing_campaign_tratado.csv')
)
df.show()

+---+----+--------------+---------+------------+-----------------+---------------+-------------------+----------+--------+---------+---------+----------------+----------------+----------------+---------------+------------------+-------------+------------------+----------------+----------------+----------+----------+----------+----------+----------+-----------+--------+
|_c0|  ID|Ano_nascimento| Educacao|Estado_civil|            Renda|Crianca_em_casa|Adolescente_em_casa|Dt_Cliente|Recencia|QtdVinhos|QtdFrutas|QtdProdutosCarne|QtdProdutosPeixe|QtdProdutosDoces|QtdProdutosGold|NumOfertasDeCompra|NumOfertasWeb|NumOfertasCatalogo|NumComprasNaLoja|NumVisitasWebMes|Cmp3Aceito|Cmp4Aceito|Cmp5Aceito|Cmp1Aceito|Cmp2Aceito|Reclamacoes|Resposta|
+---+----+--------------+---------+------------+-----------------+---------------+-------------------+----------+--------+---------+---------+----------------+----------------+----------------+---------------+------------------+-------------+------------------+----------------+----------------+----------+----------+----------+----------+----------+-----------+--------+
|  0|5524|          1957|Graduação|    Solteiro|          58138.0|              0|                  0|2012-09-04|      58|      635|       88|             546|             172|              88|             88|                 3|            8|                10|               4|               7|         0|         0|         0|         0|         0|          0|       1|
|  1|2174|          1954|Graduação|    Solteiro|          46344.0|              1|                  1|2014-03-08|      38|       11|        1|               6|               2|               1|              6|                 2|            1|                 1|               2|               5|         0|         0|         0|         0|         0|          0|       0|
|  2|4141|          1965|Graduação|       Junto|          71613.0|              0|                  0|2013-08-21|      26|      426|       49|             127|             111|              21|             42|                 1|            8|                 2|              10|               4|         0|         0|         0|         0|         0|          0|       0|
|  3|6182|          1984|Graduação|       Junto|          26646.0|              1|                  0|2014-02-10|      26|       11|        4|              20|              10|               3|              5|                 2|            2|                 0|               4|               6|         0|         0|         0|         0|         0|          0|       0|
|  4|5324|          1981|      PhD|      Casado|          58293.0|              1|                  0|2014-01-19|      94|      173|       43|             118|              46|              27|             15|                 5|            5|                 3|               6|               5|         0|         0|         0|         0|         0|          0|       0|
|  5|7446|          1967| Mestrado|       Junto|          62513.0|              0|                  1|2013-09-09|      16|      520|       42|              98|               0|              42|             14|                 2|            6|                 4|              10|               6|         0|         0|         0|         0|         0|          0|       0|
|  6| 965|          1971|Graduação|  Divorciado|          55635.0|              0|                  1|2012-11-13|      34|      235|       65|             164|              50|              49|             27|                 4|            7|                 3|               7|               6|         0|         0|         0|         0|         0|          0|       0|
|  7|6177|          1985|      PhD|      Casado|          33454.0|              1|                  0|2013-05-08|      32|       76|       10|              56|               3|               1|             23|                 2|            4|                 0|               4|               8|         0|         0|         0|         0|         0|          0|       0|
|  8|4855|          1974|      PhD|       Junto|          30351.0|              1|                  0|2013-06-06|      19|       14|        0|              24|               3|               3|              2|                 1|            3|                 0|               2|               9|         0|         0|         0|         0|         0|          0|       1|
|  9|5899|          1950|      PhD|       Junto|           5648.0|              1|                  1|2014-03-13|      68|       28|        0|               6|               1|               1|             13|                 1|            1|                 0|               0|              20|         1|         0|         0|         0|         0|          0|       0|
| 10|1994|          1983|Graduação|      Casado|30399.26555811421|              1|                  0|2013-11-15|      11|        5|        5|               6|               0|               2|              1|                 1|            1|                 0|               2|               7|         0|         0|         0|         0|         0|          0|       0|
| 11| 387|          1976|   Basico|      Casado|           7500.0|              0|                  0|2012-11-13|      59|        6|       16|              11|              11|               1|             16|                 1|            2|                 0|               3|               8|         0|         0|         0|         0|         0|          0|       0|
| 12|2125|          1959|Graduação|  Divorciado|          63033.0|              0|                  0|2013-11-15|      82|      194|       61|             480|             225|             112|             30|                 1|            3|                 4|               8|               2|         0|         0|         0|         0|         0|          0|       0|
| 13|8180|          1952| Mestrado|  Divorciado|          59354.0|              1|                  1|2013-11-15|      53|      233|        2|              53|               3|               5|             14|                 3|            6|                 1|               5|               6|         0|         0|         0|         0|         0|          0|       0|
| 14|2569|          1987|Graduação|      Casado|          17323.0|              0|                  0|2012-10-10|      38|        3|       14|              17|               6|               1|              5|                 1|            1|                 0|               3|               8|         0|         0|         0|         0|         0|          0|       0|
| 15|2114|          1946|      PhD|    Solteiro|          82800.0|              0|                  0|2012-11-24|      23|     1006|       22|             115|              59|              68|             45|                 1|            7|                 6|              12|               3|         0|         0|         1|         1|         0|          0|       1|
| 16|9736|          1980|Graduação|      Casado|          41850.0|              1|                  1|2012-12-24|      51|       53|        5|              19|               2|              13|              4|                 3|            3|                 0|               3|               8|         0|         0|         0|         0|         0|          0|       0|
| 17|4939|          1946|Graduação|       Junto|          37760.0|              0|                  0|2012-08-31|      20|       84|        5|              38|             150|              12|             28|                 2|            4|                 1|               6|               7|         0|         0|         0|         0|         0|          0|       0|
| 18|6565|          1949| Mestrado|      Casado|          76995.0|              0|                  1|2013-03-28|      91|     1012|       80|             498|               0|              16|            176|                 2|           11|                 4|               9|               5|         0|         0|         0|         1|         0|          0|       0|
| 19|2278|          1985|2nd Ciclo|    Solteiro|          33812.0|              1|                  0|2012-11-03|      86|        4|       17|              19|              30|              24|             39|                 2|            2|                 1|               3|               6|         0|         0|         0|         0|         0|          0|       0|
+---+----+--------------+---------+------------+-----------------+---------------+-------------------+----------+--------+---------+---------+----------------+----------------+----------------+---------------+------------------+-------------+------------------+----------------+----------------+----------+----------+----------+----------+----------+-----------+--------+
only showing top 20 rows

In [ ]:
df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- ID: integer (nullable = true)
 |-- Ano_nascimento: integer (nullable = true)
 |-- Educacao: string (nullable = true)
 |-- Estado_civil: string (nullable = true)
 |-- Renda: double (nullable = true)
 |-- Crianca_em_casa: integer (nullable = true)
 |-- Adolescente_em_casa: integer (nullable = true)
 |-- Dt_Cliente: string (nullable = true)
 |-- Recencia: integer (nullable = true)
 |-- QtdVinhos: integer (nullable = true)
 |-- QtdFrutas: integer (nullable = true)
 |-- QtdProdutosCarne: integer (nullable = true)
 |-- QtdProdutosPeixe: integer (nullable = true)
 |-- QtdProdutosDoces: integer (nullable = true)
 |-- QtdProdutosGold: integer (nullable = true)
 |-- NumOfertasDeCompra: integer (nullable = true)
 |-- NumOfertasWeb: integer (nullable = true)
 |-- NumOfertasCatalogo: integer (nullable = true)
 |-- NumComprasNaLoja: integer (nullable = true)
 |-- NumVisitasWebMes: integer (nullable = true)
 |-- Cmp3Aceito: integer (nullable = true)
 |-- Cmp4Aceito: integer (nullable = true)
 |-- Cmp5Aceito: integer (nullable = true)
 |-- Cmp1Aceito: integer (nullable = true)
 |-- Cmp2Aceito: integer (nullable = true)
 |-- Reclamacoes: integer (nullable = true)
 |-- Resposta: integer (nullable = true)

# StructType

In [69]:
schema = StructType() \
      .add("_c0",IntegerType(),True) \
      .add("ID",IntegerType(),True) \
      .add("Ano_nascimento",IntegerType(),True) \
      .add("Educacao",StringType(),True) \
      .add("Estado_civil",StringType(),True) \
      .add("Renda",FloatType(),True) \
      .add("Crianca_em_casa",IntegerType(),True) \
      .add("Adolescente_em_casa",IntegerType(),True) \
      .add("Dt_Cliente",StringType(),True) \
      .add("Recencia",IntegerType(),True) \
      .add("QtdVinhos",IntegerType(),True) \
      .add("QtdFrutas",IntegerType(),True) \
      .add("QtdProdutosCarne",IntegerType(),True) \
      .add("QtdProdutosPeixe",IntegerType(),True) \
      .add("QtdProdutosDoces",IntegerType(),True) \
      .add("QtdProdutosGold",IntegerType(),True) \
      .add("NumOfertasDeCompra",IntegerType(),True) \
      .add("NumOfertasWeb",IntegerType(),True) \
      .add("NumOfertasCatalogo",IntegerType(),True) \
      .add("NumComprasNaLoja",IntegerType(),True) \
      .add("NumVisitasWebMes",IntegerType(),True) \
      .add("Cmp3Aceito",IntegerType(),True) \
      .add("Cmp4Aceito",IntegerType(),True) \
      .add("Cmp5Aceito",IntegerType(),True) \
      .add("Cmp1Aceito",IntegerType(),True) \
      .add("Cmp2Aceito",IntegerType(),True) \
      .add("Reclamacoes",IntegerType(),True) \
      .add("Resposta",IntegerType(),True)

df_with_schema = spark.read.format("csv") \
      .option("header", True) \
      .schema(schema) \
      .load("/content/marketing_campaign_tratado.csv")

In [70]:
df_with_schema.show()

+---+----+--------------+---------+------------+---------+---------------+-------------------+----------+--------+---------+---------+----------------+----------------+----------------+---------------+------------------+-------------+------------------+----------------+----------------+----------+----------+----------+----------+----------+-----------+--------+
|_c0|  ID|Ano_nascimento| Educacao|Estado_civil|    Renda|Crianca_em_casa|Adolescente_em_casa|Dt_Cliente|Recencia|QtdVinhos|QtdFrutas|QtdProdutosCarne|QtdProdutosPeixe|QtdProdutosDoces|QtdProdutosGold|NumOfertasDeCompra|NumOfertasWeb|NumOfertasCatalogo|NumComprasNaLoja|NumVisitasWebMes|Cmp3Aceito|Cmp4Aceito|Cmp5Aceito|Cmp1Aceito|Cmp2Aceito|Reclamacoes|Resposta|
+---+----+--------------+---------+------------+---------+---------------+-------------------+----------+--------+---------+---------+----------------+----------------+----------------+---------------+------------------+-------------+------------------+----------------+----------------+----------+----------+----------+----------+----------+-----------+--------+
|  0|5524|          1957|Graduação|    Solteiro|  58138.0|              0|                  0|2012-09-04|      58|      635|       88|             546|             172|              88|             88|                 3|            8|                10|               4|               7|         0|         0|         0|         0|         0|          0|       1|
|  1|2174|          1954|Graduação|    Solteiro|  46344.0|              1|                  1|2014-03-08|      38|       11|        1|               6|               2|               1|              6|                 2|            1|                 1|               2|               5|         0|         0|         0|         0|         0|          0|       0|
|  2|4141|          1965|Graduação|       Junto|  71613.0|              0|                  0|2013-08-21|      26|      426|       49|             127|             111|              21|             42|                 1|            8|                 2|              10|               4|         0|         0|         0|         0|         0|          0|       0|
|  3|6182|          1984|Graduação|       Junto|  26646.0|              1|                  0|2014-02-10|      26|       11|        4|              20|              10|               3|              5|                 2|            2|                 0|               4|               6|         0|         0|         0|         0|         0|          0|       0|
|  4|5324|          1981|      PhD|      Casado|  58293.0|              1|                  0|2014-01-19|      94|      173|       43|             118|              46|              27|             15|                 5|            5|                 3|               6|               5|         0|         0|         0|         0|         0|          0|       0|
|  5|7446|          1967| Mestrado|       Junto|  62513.0|              0|                  1|2013-09-09|      16|      520|       42|              98|               0|              42|             14|                 2|            6|                 4|              10|               6|         0|         0|         0|         0|         0|          0|       0|
|  6| 965|          1971|Graduação|  Divorciado|  55635.0|              0|                  1|2012-11-13|      34|      235|       65|             164|              50|              49|             27|                 4|            7|                 3|               7|               6|         0|         0|         0|         0|         0|          0|       0|
|  7|6177|          1985|      PhD|      Casado|  33454.0|              1|                  0|2013-05-08|      32|       76|       10|              56|               3|               1|             23|                 2|            4|                 0|               4|               8|         0|         0|         0|         0|         0|          0|       0|
|  8|4855|          1974|      PhD|       Junto|  30351.0|              1|                  0|2013-06-06|      19|       14|        0|              24|               3|               3|              2|                 1|            3|                 0|               2|               9|         0|         0|         0|         0|         0|          0|       1|
|  9|5899|          1950|      PhD|       Junto|   5648.0|              1|                  1|2014-03-13|      68|       28|        0|               6|               1|               1|             13|                 1|            1|                 0|               0|              20|         1|         0|         0|         0|         0|          0|       0|
| 10|1994|          1983|Graduação|      Casado|30399.266|              1|                  0|2013-11-15|      11|        5|        5|               6|               0|               2|              1|                 1|            1|                 0|               2|               7|         0|         0|         0|         0|         0|          0|       0|
| 11| 387|          1976|   Basico|      Casado|   7500.0|              0|                  0|2012-11-13|      59|        6|       16|              11|              11|               1|             16|                 1|            2|                 0|               3|               8|         0|         0|         0|         0|         0|          0|       0|
| 12|2125|          1959|Graduação|  Divorciado|  63033.0|              0|                  0|2013-11-15|      82|      194|       61|             480|             225|             112|             30|                 1|            3|                 4|               8|               2|         0|         0|         0|         0|         0|          0|       0|
| 13|8180|          1952| Mestrado|  Divorciado|  59354.0|              1|                  1|2013-11-15|      53|      233|        2|              53|               3|               5|             14|                 3|            6|                 1|               5|               6|         0|         0|         0|         0|         0|          0|       0|
| 14|2569|          1987|Graduação|      Casado|  17323.0|              0|                  0|2012-10-10|      38|        3|       14|              17|               6|               1|              5|                 1|            1|                 0|               3|               8|         0|         0|         0|         0|         0|          0|       0|
| 15|2114|          1946|      PhD|    Solteiro|  82800.0|              0|                  0|2012-11-24|      23|     1006|       22|             115|              59|              68|             45|                 1|            7|                 6|              12|               3|         0|         0|         1|         1|         0|          0|       1|
| 16|9736|          1980|Graduação|      Casado|  41850.0|              1|                  1|2012-12-24|      51|       53|        5|              19|               2|              13|              4|                 3|            3|                 0|               3|               8|         0|         0|         0|         0|         0|          0|       0|
| 17|4939|          1946|Graduação|       Junto|  37760.0|              0|                  0|2012-08-31|      20|       84|        5|              38|             150|              12|             28|                 2|            4|                 1|               6|               7|         0|         0|         0|         0|         0|          0|       0|
| 18|6565|          1949| Mestrado|      Casado|  76995.0|              0|                  1|2013-03-28|      91|     1012|       80|             498|               0|              16|            176|                 2|           11|                 4|               9|               5|         0|         0|         0|         1|         0|          0|       0|
| 19|2278|          1985|2nd Ciclo|    Solteiro|  33812.0|              1|                  0|2012-11-03|      86|        4|       17|              19|              30|              24|             39|                 2|            2|                 1|               3|               6|         0|         0|         0|         0|         0|          0|       0|
+---+----+--------------+---------+------------+---------+---------------+-------------------+----------+--------+---------+---------+----------------+----------------+----------------+---------------+------------------+-------------+------------------+----------------+----------------+----------+----------+----------+----------+----------+-----------+--------+
only showing top 20 rows

In [71]:
df_with_schema.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- ID: integer (nullable = true)
 |-- Ano_nascimento: integer (nullable = true)
 |-- Educacao: string (nullable = true)
 |-- Estado_civil: string (nullable = true)
 |-- Renda: float (nullable = true)
 |-- Crianca_em_casa: integer (nullable = true)
 |-- Adolescente_em_casa: integer (nullable = true)
 |-- Dt_Cliente: string (nullable = true)
 |-- Recencia: integer (nullable = true)
 |-- QtdVinhos: integer (nullable = true)
 |-- QtdFrutas: integer (nullable = true)
 |-- QtdProdutosCarne: integer (nullable = true)
 |-- QtdProdutosPeixe: integer (nullable = true)
 |-- QtdProdutosDoces: integer (nullable = true)
 |-- QtdProdutosGold: integer (nullable = true)
 |-- NumOfertasDeCompra: integer (nullable = true)
 |-- NumOfertasWeb: integer (nullable = true)
 |-- NumOfertasCatalogo: integer (nullable = true)
 |-- NumComprasNaLoja: integer (nullable = true)
 |-- NumVisitasWebMes: integer (nullable = true)
 |-- Cmp3Aceito: integer (nullable = true)
 |-- Cmp4Aceito: integer (nullable = true)
 |-- Cmp5Aceito: integer (nullable = true)
 |-- Cmp1Aceito: integer (nullable = true)
 |-- Cmp2Aceito: integer (nullable = true)
 |-- Reclamacoes: integer (nullable = true)
 |-- Resposta: integer (nullable = true)

# Renomeando colunas

In [72]:
df_with_schema = df_with_schema.withColumnRenamed('Educacao', 'Escolaridade').withColumnRenamed('Dt_Cliente', 'Data_Cliente')
df_with_schema.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- ID: integer (nullable = true)
 |-- Ano_nascimento: integer (nullable = true)
 |-- Escolaridade: string (nullable = true)
 |-- Estado_civil: string (nullable = true)
 |-- Renda: float (nullable = true)
 |-- Crianca_em_casa: integer (nullable = true)
 |-- Adolescente_em_casa: integer (nullable = true)
 |-- Data_Cliente: string (nullable = true)
 |-- Recencia: integer (nullable = true)
 |-- QtdVinhos: integer (nullable = true)
 |-- QtdFrutas: integer (nullable = true)
 |-- QtdProdutosCarne: integer (nullable = true)
 |-- QtdProdutosPeixe: integer (nullable = true)
 |-- QtdProdutosDoces: integer (nullable = true)
 |-- QtdProdutosGold: integer (nullable = true)
 |-- NumOfertasDeCompra: integer (nullable = true)
 |-- NumOfertasWeb: integer (nullable = true)
 |-- NumOfertasCatalogo: integer (nullable = true)
 |-- NumComprasNaLoja: integer (nullable = true)
 |-- NumVisitasWebMes: integer (nullable = true)
 |-- Cmp3Aceito: integer (nullable = true)
 |-- Cmp4Aceito: integer (nullable = true)
 |-- Cmp5Aceito: integer (nullable = true)
 |-- Cmp1Aceito: integer (nullable = true)
 |-- Cmp2Aceito: integer (nullable = true)
 |-- Reclamacoes: integer (nullable = true)
 |-- Resposta: integer (nullable = true)

In [73]:
df_with_schema.show()

+---+----+--------------+------------+------------+---------+---------------+-------------------+------------+--------+---------+---------+----------------+----------------+----------------+---------------+------------------+-------------+------------------+----------------+----------------+----------+----------+----------+----------+----------+-----------+--------+
|_c0|  ID|Ano_nascimento|Escolaridade|Estado_civil|    Renda|Crianca_em_casa|Adolescente_em_casa|Data_Cliente|Recencia|QtdVinhos|QtdFrutas|QtdProdutosCarne|QtdProdutosPeixe|QtdProdutosDoces|QtdProdutosGold|NumOfertasDeCompra|NumOfertasWeb|NumOfertasCatalogo|NumComprasNaLoja|NumVisitasWebMes|Cmp3Aceito|Cmp4Aceito|Cmp5Aceito|Cmp1Aceito|Cmp2Aceito|Reclamacoes|Resposta|
+---+----+--------------+------------+------------+---------+---------------+-------------------+------------+--------+---------+---------+----------------+----------------+----------------+---------------+------------------+-------------+------------------+----------------+----------------+----------+----------+----------+----------+----------+-----------+--------+
|  0|5524|          1957|   Graduação|    Solteiro|  58138.0|              0|                  0|  2012-09-04|      58|      635|       88|             546|             172|              88|             88|                 3|            8|                10|               4|               7|         0|         0|         0|         0|         0|          0|       1|
|  1|2174|          1954|   Graduação|    Solteiro|  46344.0|              1|                  1|  2014-03-08|      38|       11|        1|               6|               2|               1|              6|                 2|            1|                 1|               2|               5|         0|         0|         0|         0|         0|          0|       0|
|  2|4141|          1965|   Graduação|       Junto|  71613.0|              0|                  0|  2013-08-21|      26|      426|       49|             127|             111|              21|             42|                 1|            8|                 2|              10|               4|         0|         0|         0|         0|         0|          0|       0|
|  3|6182|          1984|   Graduação|       Junto|  26646.0|              1|                  0|  2014-02-10|      26|       11|        4|              20|              10|               3|              5|                 2|            2|                 0|               4|               6|         0|         0|         0|         0|         0|          0|       0|
|  4|5324|          1981|         PhD|      Casado|  58293.0|              1|                  0|  2014-01-19|      94|      173|       43|             118|              46|              27|             15|                 5|            5|                 3|               6|               5|         0|         0|         0|         0|         0|          0|       0|
|  5|7446|          1967|    Mestrado|       Junto|  62513.0|              0|                  1|  2013-09-09|      16|      520|       42|              98|               0|              42|             14|                 2|            6|                 4|              10|               6|         0|         0|         0|         0|         0|          0|       0|
|  6| 965|          1971|   Graduação|  Divorciado|  55635.0|              0|                  1|  2012-11-13|      34|      235|       65|             164|              50|              49|             27|                 4|            7|                 3|               7|               6|         0|         0|         0|         0|         0|          0|       0|
|  7|6177|          1985|         PhD|      Casado|  33454.0|              1|                  0|  2013-05-08|      32|       76|       10|              56|               3|               1|             23|                 2|            4|                 0|               4|               8|         0|         0|         0|         0|         0|          0|       0|
|  8|4855|          1974|         PhD|       Junto|  30351.0|              1|                  0|  2013-06-06|      19|       14|        0|              24|               3|               3|              2|                 1|            3|                 0|               2|               9|         0|         0|         0|         0|         0|          0|       1|
|  9|5899|          1950|         PhD|       Junto|   5648.0|              1|                  1|  2014-03-13|      68|       28|        0|               6|               1|               1|             13|                 1|            1|                 0|               0|              20|         1|         0|         0|         0|         0|          0|       0|
| 10|1994|          1983|   Graduação|      Casado|30399.266|              1|                  0|  2013-11-15|      11|        5|        5|               6|               0|               2|              1|                 1|            1|                 0|               2|               7|         0|         0|         0|         0|         0|          0|       0|
| 11| 387|          1976|      Basico|      Casado|   7500.0|              0|                  0|  2012-11-13|      59|        6|       16|              11|              11|               1|             16|                 1|            2|                 0|               3|               8|         0|         0|         0|         0|         0|          0|       0|
| 12|2125|          1959|   Graduação|  Divorciado|  63033.0|              0|                  0|  2013-11-15|      82|      194|       61|             480|             225|             112|             30|                 1|            3|                 4|               8|               2|         0|         0|         0|         0|         0|          0|       0|
| 13|8180|          1952|    Mestrado|  Divorciado|  59354.0|              1|                  1|  2013-11-15|      53|      233|        2|              53|               3|               5|             14|                 3|            6|                 1|               5|               6|         0|         0|         0|         0|         0|          0|       0|
| 14|2569|          1987|   Graduação|      Casado|  17323.0|              0|                  0|  2012-10-10|      38|        3|       14|              17|               6|               1|              5|                 1|            1|                 0|               3|               8|         0|         0|         0|         0|         0|          0|       0|
| 15|2114|          1946|         PhD|    Solteiro|  82800.0|              0|                  0|  2012-11-24|      23|     1006|       22|             115|              59|              68|             45|                 1|            7|                 6|              12|               3|         0|         0|         1|         1|         0|          0|       1|
| 16|9736|          1980|   Graduação|      Casado|  41850.0|              1|                  1|  2012-12-24|      51|       53|        5|              19|               2|              13|              4|                 3|            3|                 0|               3|               8|         0|         0|         0|         0|         0|          0|       0|
| 17|4939|          1946|   Graduação|       Junto|  37760.0|              0|                  0|  2012-08-31|      20|       84|        5|              38|             150|              12|             28|                 2|            4|                 1|               6|               7|         0|         0|         0|         0|         0|          0|       0|
| 18|6565|          1949|    Mestrado|      Casado|  76995.0|              0|                  1|  2013-03-28|      91|     1012|       80|             498|               0|              16|            176|                 2|           11|                 4|               9|               5|         0|         0|         0|         1|         0|          0|       0|
| 19|2278|          1985|   2nd Ciclo|    Solteiro|  33812.0|              1|                  0|  2012-11-03|      86|        4|       17|              19|              30|              24|             39|                 2|            2|                 1|               3|               6|         0|         0|         0|         0|         0|          0|       0|
+---+----+--------------+------------+------------+---------+---------------+-------------------+------------+--------+---------+---------+----------------+----------------+----------------+---------------+------------------+-------------+------------------+----------------+----------------+----------+----------+----------+----------+----------+-----------+--------+
only showing top 20 rows

# Criando novas colunas

In [100]:
Ano_atual = 2021

In [74]:
df_with_schema_2 = df_with_schema.withColumn("Tem_Crianca", F.when(F.col('Crianca_em_casa') == 1, "Possui criança em casa").otherwise("Não possui criança em casa")).show()

+---+----+--------------+------------+------------+---------+---------------+-------------------+------------+--------+---------+---------+----------------+----------------+----------------+---------------+------------------+-------------+------------------+----------------+----------------+----------+----------+----------+----------+----------+-----------+--------+--------------------+
|_c0|  ID|Ano_nascimento|Escolaridade|Estado_civil|    Renda|Crianca_em_casa|Adolescente_em_casa|Data_Cliente|Recencia|QtdVinhos|QtdFrutas|QtdProdutosCarne|QtdProdutosPeixe|QtdProdutosDoces|QtdProdutosGold|NumOfertasDeCompra|NumOfertasWeb|NumOfertasCatalogo|NumComprasNaLoja|NumVisitasWebMes|Cmp3Aceito|Cmp4Aceito|Cmp5Aceito|Cmp1Aceito|Cmp2Aceito|Reclamacoes|Resposta|         Tem_Crianca|
+---+----+--------------+------------+------------+---------+---------------+-------------------+------------+--------+---------+---------+----------------+----------------+----------------+---------------+------------------+-------------+------------------+----------------+----------------+----------+----------+----------+----------+----------+-----------+--------+--------------------+
|  0|5524|          1957|   Graduação|    Solteiro|  58138.0|              0|                  0|  2012-09-04|      58|      635|       88|             546|             172|              88|             88|                 3|            8|                10|               4|               7|         0|         0|         0|         0|         0|          0|       1|Não possui crianç...|
|  1|2174|          1954|   Graduação|    Solteiro|  46344.0|              1|                  1|  2014-03-08|      38|       11|        1|               6|               2|               1|              6|                 2|            1|                 1|               2|               5|         0|         0|         0|         0|         0|          0|       0|Possui criança em...|
|  2|4141|          1965|   Graduação|       Junto|  71613.0|              0|                  0|  2013-08-21|      26|      426|       49|             127|             111|              21|             42|                 1|            8|                 2|              10|               4|         0|         0|         0|         0|         0|          0|       0|Não possui crianç...|
|  3|6182|          1984|   Graduação|       Junto|  26646.0|              1|                  0|  2014-02-10|      26|       11|        4|              20|              10|               3|              5|                 2|            2|                 0|               4|               6|         0|         0|         0|         0|         0|          0|       0|Possui criança em...|
|  4|5324|          1981|         PhD|      Casado|  58293.0|              1|                  0|  2014-01-19|      94|      173|       43|             118|              46|              27|             15|                 5|            5|                 3|               6|               5|         0|         0|         0|         0|         0|          0|       0|Possui criança em...|
|  5|7446|          1967|    Mestrado|       Junto|  62513.0|              0|                  1|  2013-09-09|      16|      520|       42|              98|               0|              42|             14|                 2|            6|                 4|              10|               6|         0|         0|         0|         0|         0|          0|       0|Não possui crianç...|
|  6| 965|          1971|   Graduação|  Divorciado|  55635.0|              0|                  1|  2012-11-13|      34|      235|       65|             164|              50|              49|             27|                 4|            7|                 3|               7|               6|         0|         0|         0|         0|         0|          0|       0|Não possui crianç...|
|  7|6177|          1985|         PhD|      Casado|  33454.0|              1|                  0|  2013-05-08|      32|       76|       10|              56|               3|               1|             23|                 2|            4|                 0|               4|               8|         0|         0|         0|         0|         0|          0|       0|Possui criança em...|
|  8|4855|          1974|         PhD|       Junto|  30351.0|              1|                  0|  2013-06-06|      19|       14|        0|              24|               3|               3|              2|                 1|            3|                 0|               2|               9|         0|         0|         0|         0|         0|          0|       1|Possui criança em...|
|  9|5899|          1950|         PhD|       Junto|   5648.0|              1|                  1|  2014-03-13|      68|       28|        0|               6|               1|               1|             13|                 1|            1|                 0|               0|              20|         1|         0|         0|         0|         0|          0|       0|Possui criança em...|
| 10|1994|          1983|   Graduação|      Casado|30399.266|              1|                  0|  2013-11-15|      11|        5|        5|               6|               0|               2|              1|                 1|            1|                 0|               2|               7|         0|         0|         0|         0|         0|          0|       0|Possui criança em...|
| 11| 387|          1976|      Basico|      Casado|   7500.0|              0|                  0|  2012-11-13|      59|        6|       16|              11|              11|               1|             16|                 1|            2|                 0|               3|               8|         0|         0|         0|         0|         0|          0|       0|Não possui crianç...|
| 12|2125|          1959|   Graduação|  Divorciado|  63033.0|              0|                  0|  2013-11-15|      82|      194|       61|             480|             225|             112|             30|                 1|            3|                 4|               8|               2|         0|         0|         0|         0|         0|          0|       0|Não possui crianç...|
| 13|8180|          1952|    Mestrado|  Divorciado|  59354.0|              1|                  1|  2013-11-15|      53|      233|        2|              53|               3|               5|             14|                 3|            6|                 1|               5|               6|         0|         0|         0|         0|         0|          0|       0|Possui criança em...|
| 14|2569|          1987|   Graduação|      Casado|  17323.0|              0|                  0|  2012-10-10|      38|        3|       14|              17|               6|               1|              5|                 1|            1|                 0|               3|               8|         0|         0|         0|         0|         0|          0|       0|Não possui crianç...|
| 15|2114|          1946|         PhD|    Solteiro|  82800.0|              0|                  0|  2012-11-24|      23|     1006|       22|             115|              59|              68|             45|                 1|            7|                 6|              12|               3|         0|         0|         1|         1|         0|          0|       1|Não possui crianç...|
| 16|9736|          1980|   Graduação|      Casado|  41850.0|              1|                  1|  2012-12-24|      51|       53|        5|              19|               2|              13|              4|                 3|            3|                 0|               3|               8|         0|         0|         0|         0|         0|          0|       0|Possui criança em...|
| 17|4939|          1946|   Graduação|       Junto|  37760.0|              0|                  0|  2012-08-31|      20|       84|        5|              38|             150|              12|             28|                 2|            4|                 1|               6|               7|         0|         0|         0|         0|         0|          0|       0|Não possui crianç...|
| 18|6565|          1949|    Mestrado|      Casado|  76995.0|              0|                  1|  2013-03-28|      91|     1012|       80|             498|               0|              16|            176|                 2|           11|                 4|               9|               5|         0|         0|         0|         1|         0|          0|       0|Não possui crianç...|
| 19|2278|          1985|   2nd Ciclo|    Solteiro|  33812.0|              1|                  0|  2012-11-03|      86|        4|       17|              19|              30|              24|             39|                 2|            2|                 1|               3|               6|         0|         0|         0|         0|         0|          0|       0|Possui criança em...|
+---+----+--------------+------------+------------+---------+---------------+-------------------+------------+--------+---------+---------+----------------+----------------+----------------+---------------+------------------+-------------+------------------+----------------+----------------+----------+----------+----------+----------+----------+-----------+--------+--------------------+
only showing top 20 rows

In [89]:
from pyspark.sql.functions import when
df_with_schema_3 = (df_with_schema.withColumn("Recencia_medida", when(df_with_schema.Recencia <= 30, 5)
                                                    .when(df_with_schema.Recencia <= 31, 4)
                                                    .when(df_with_schema.Recencia >= 60, 4)
                                                    .when(df_with_schema.Recencia <= 61, 3)
                                                    .when(df_with_schema.Recencia >= 120, 3)
                                                    .when(df_with_schema.Recencia <= 121, 2)
                                                    .when(df_with_schema.Recencia >= 180, 2)
                                                    .when(df_with_schema.Recencia <= 181, 1)
                                                    .when(df_with_schema.Recencia >= 160, 1) ))
df_with_schema_3.show()

+---+----+--------------+------------+------------+---------+---------------+-------------------+------------+--------+---------+---------+----------------+----------------+----------------+---------------+------------------+-------------+------------------+----------------+----------------+----------+----------+----------+----------+----------+-----------+--------+---------------+
|_c0|  ID|Ano_nascimento|Escolaridade|Estado_civil|    Renda|Crianca_em_casa|Adolescente_em_casa|Data_Cliente|Recencia|QtdVinhos|QtdFrutas|QtdProdutosCarne|QtdProdutosPeixe|QtdProdutosDoces|QtdProdutosGold|NumOfertasDeCompra|NumOfertasWeb|NumOfertasCatalogo|NumComprasNaLoja|NumVisitasWebMes|Cmp3Aceito|Cmp4Aceito|Cmp5Aceito|Cmp1Aceito|Cmp2Aceito|Reclamacoes|Resposta|Recencia_medida|
+---+----+--------------+------------+------------+---------+---------------+-------------------+------------+--------+---------+---------+----------------+----------------+----------------+---------------+------------------+-------------+------------------+----------------+----------------+----------+----------+----------+----------+----------+-----------+--------+---------------+
|  0|5524|          1957|   Graduação|    Solteiro|  58138.0|              0|                  0|  2012-09-04|      58|      635|       88|             546|             172|              88|             88|                 3|            8|                10|               4|               7|         0|         0|         0|         0|         0|          0|       1|              3|
|  1|2174|          1954|   Graduação|    Solteiro|  46344.0|              1|                  1|  2014-03-08|      38|       11|        1|               6|               2|               1|              6|                 2|            1|                 1|               2|               5|         0|         0|         0|         0|         0|          0|       0|              3|
|  2|4141|          1965|   Graduação|       Junto|  71613.0|              0|                  0|  2013-08-21|      26|      426|       49|             127|             111|              21|             42|                 1|            8|                 2|              10|               4|         0|         0|         0|         0|         0|          0|       0|              5|
|  3|6182|          1984|   Graduação|       Junto|  26646.0|              1|                  0|  2014-02-10|      26|       11|        4|              20|              10|               3|              5|                 2|            2|                 0|               4|               6|         0|         0|         0|         0|         0|          0|       0|              5|
|  4|5324|          1981|         PhD|      Casado|  58293.0|              1|                  0|  2014-01-19|      94|      173|       43|             118|              46|              27|             15|                 5|            5|                 3|               6|               5|         0|         0|         0|         0|         0|          0|       0|              4|
|  5|7446|          1967|    Mestrado|       Junto|  62513.0|              0|                  1|  2013-09-09|      16|      520|       42|              98|               0|              42|             14|                 2|            6|                 4|              10|               6|         0|         0|         0|         0|         0|          0|       0|              5|
|  6| 965|          1971|   Graduação|  Divorciado|  55635.0|              0|                  1|  2012-11-13|      34|      235|       65|             164|              50|              49|             27|                 4|            7|                 3|               7|               6|         0|         0|         0|         0|         0|          0|       0|              3|
|  7|6177|          1985|         PhD|      Casado|  33454.0|              1|                  0|  2013-05-08|      32|       76|       10|              56|               3|               1|             23|                 2|            4|                 0|               4|               8|         0|         0|         0|         0|         0|          0|       0|              3|
|  8|4855|          1974|         PhD|       Junto|  30351.0|              1|                  0|  2013-06-06|      19|       14|        0|              24|               3|               3|              2|                 1|            3|                 0|               2|               9|         0|         0|         0|         0|         0|          0|       1|              5|
|  9|5899|          1950|         PhD|       Junto|   5648.0|              1|                  1|  2014-03-13|      68|       28|        0|               6|               1|               1|             13|                 1|            1|                 0|               0|              20|         1|         0|         0|         0|         0|          0|       0|              4|
| 10|1994|          1983|   Graduação|      Casado|30399.266|              1|                  0|  2013-11-15|      11|        5|        5|               6|               0|               2|              1|                 1|            1|                 0|               2|               7|         0|         0|         0|         0|         0|          0|       0|              5|
| 11| 387|          1976|      Basico|      Casado|   7500.0|              0|                  0|  2012-11-13|      59|        6|       16|              11|              11|               1|             16|                 1|            2|                 0|               3|               8|         0|         0|         0|         0|         0|          0|       0|              3|
| 12|2125|          1959|   Graduação|  Divorciado|  63033.0|              0|                  0|  2013-11-15|      82|      194|       61|             480|             225|             112|             30|                 1|            3|                 4|               8|               2|         0|         0|         0|         0|         0|          0|       0|              4|
| 13|8180|          1952|    Mestrado|  Divorciado|  59354.0|              1|                  1|  2013-11-15|      53|      233|        2|              53|               3|               5|             14|                 3|            6|                 1|               5|               6|         0|         0|         0|         0|         0|          0|       0|              3|
| 14|2569|          1987|   Graduação|      Casado|  17323.0|              0|                  0|  2012-10-10|      38|        3|       14|              17|               6|               1|              5|                 1|            1|                 0|               3|               8|         0|         0|         0|         0|         0|          0|       0|              3|
| 15|2114|          1946|         PhD|    Solteiro|  82800.0|              0|                  0|  2012-11-24|      23|     1006|       22|             115|              59|              68|             45|                 1|            7|                 6|              12|               3|         0|         0|         1|         1|         0|          0|       1|              5|
| 16|9736|          1980|   Graduação|      Casado|  41850.0|              1|                  1|  2012-12-24|      51|       53|        5|              19|               2|              13|              4|                 3|            3|                 0|               3|               8|         0|         0|         0|         0|         0|          0|       0|              3|
| 17|4939|          1946|   Graduação|       Junto|  37760.0|              0|                  0|  2012-08-31|      20|       84|        5|              38|             150|              12|             28|                 2|            4|                 1|               6|               7|         0|         0|         0|         0|         0|          0|       0|              5|
| 18|6565|          1949|    Mestrado|      Casado|  76995.0|              0|                  1|  2013-03-28|      91|     1012|       80|             498|               0|              16|            176|                 2|           11|                 4|               9|               5|         0|         0|         0|         1|         0|          0|       0|              4|
| 19|2278|          1985|   2nd Ciclo|    Solteiro|  33812.0|              1|                  0|  2012-11-03|      86|        4|       17|              19|              30|              24|             39|                 2|            2|                 1|               3|               6|         0|         0|         0|         0|         0|          0|       0|              4|
+---+----+--------------+------------+------------+---------+---------------+-------------------+------------+--------+---------+---------+----------------+----------------+----------------+---------------+------------------+-------------+------------------+----------------+----------------+----------+----------+----------+----------+----------+-----------+--------+---------------+
only showing top 20 rows

In [101]:
df_with_schema_4 = df_with_schema.withColumn("Idade", Ano_atual - F.col("Ano_nascimento"))

df_with_schema_4.show()

+---+----+--------------+------------+------------+---------+---------------+-------------------+------------+--------+---------+---------+----------------+----------------+----------------+---------------+------------------+-------------+------------------+----------------+----------------+----------+----------+----------+----------+----------+-----------+--------+---------------+--------------------+-----+
|_c0|  ID|Ano_nascimento|Escolaridade|Estado_civil|    Renda|Crianca_em_casa|Adolescente_em_casa|Data_Cliente|Recencia|QtdVinhos|QtdFrutas|QtdProdutosCarne|QtdProdutosPeixe|QtdProdutosDoces|QtdProdutosGold|NumOfertasDeCompra|NumOfertasWeb|NumOfertasCatalogo|NumComprasNaLoja|NumVisitasWebMes|Cmp3Aceito|Cmp4Aceito|Cmp5Aceito|Cmp1Aceito|Cmp2Aceito|Reclamacoes|Resposta|Recencia_medida|         Tem_Crianca|Idade|
+---+----+--------------+------------+------------+---------+---------------+-------------------+------------+--------+---------+---------+----------------+----------------+----------------+---------------+------------------+-------------+------------------+----------------+----------------+----------+----------+----------+----------+----------+-----------+--------+---------------+--------------------+-----+
|  0|5524|          1957|   Graduação|    Solteiro|  58138.0|              0|                  0|  2012-09-04|      58|      635|       88|             546|             172|              88|             88|                 3|            8|                10|               4|               7|         0|         0|         0|         0|         0|          0|       1|              3|Não possui crianç...|   64|
|  1|2174|          1954|   Graduação|    Solteiro|  46344.0|              1|                  1|  2014-03-08|      38|       11|        1|               6|               2|               1|              6|                 2|            1|                 1|               2|               5|         0|         0|         0|         0|         0|          0|       0|              3|Possui criança em...|   67|
|  2|4141|          1965|   Graduação|       Junto|  71613.0|              0|                  0|  2013-08-21|      26|      426|       49|             127|             111|              21|             42|                 1|            8|                 2|              10|               4|         0|         0|         0|         0|         0|          0|       0|              5|Não possui crianç...|   56|
|  3|6182|          1984|   Graduação|       Junto|  26646.0|              1|                  0|  2014-02-10|      26|       11|        4|              20|              10|               3|              5|                 2|            2|                 0|               4|               6|         0|         0|         0|         0|         0|          0|       0|              5|Possui criança em...|   37|
|  4|5324|          1981|         PhD|      Casado|  58293.0|              1|                  0|  2014-01-19|      94|      173|       43|             118|              46|              27|             15|                 5|            5|                 3|               6|               5|         0|         0|         0|         0|         0|          0|       0|              4|Possui criança em...|   40|
|  5|7446|          1967|    Mestrado|       Junto|  62513.0|              0|                  1|  2013-09-09|      16|      520|       42|              98|               0|              42|             14|                 2|            6|                 4|              10|               6|         0|         0|         0|         0|         0|          0|       0|              5|Não possui crianç...|   54|
|  6| 965|          1971|   Graduação|  Divorciado|  55635.0|              0|                  1|  2012-11-13|      34|      235|       65|             164|              50|              49|             27|                 4|            7|                 3|               7|               6|         0|         0|         0|         0|         0|          0|       0|              3|Não possui crianç...|   50|
|  7|6177|          1985|         PhD|      Casado|  33454.0|              1|                  0|  2013-05-08|      32|       76|       10|              56|               3|               1|             23|                 2|            4|                 0|               4|               8|         0|         0|         0|         0|         0|          0|       0|              3|Possui criança em...|   36|
|  8|4855|          1974|         PhD|       Junto|  30351.0|              1|                  0|  2013-06-06|      19|       14|        0|              24|               3|               3|              2|                 1|            3|                 0|               2|               9|         0|         0|         0|         0|         0|          0|       1|              5|Possui criança em...|   47|
|  9|5899|          1950|         PhD|       Junto|   5648.0|              1|                  1|  2014-03-13|      68|       28|        0|               6|               1|               1|             13|                 1|            1|                 0|               0|              20|         1|         0|         0|         0|         0|          0|       0|              4|Possui criança em...|   71|
| 10|1994|          1983|   Graduação|      Casado|30399.266|              1|                  0|  2013-11-15|      11|        5|        5|               6|               0|               2|              1|                 1|            1|                 0|               2|               7|         0|         0|         0|         0|         0|          0|       0|              5|Possui criança em...|   38|
| 11| 387|          1976|      Basico|      Casado|   7500.0|              0|                  0|  2012-11-13|      59|        6|       16|              11|              11|               1|             16|                 1|            2|                 0|               3|               8|         0|         0|         0|         0|         0|          0|       0|              3|Não possui crianç...|   45|
| 12|2125|          1959|   Graduação|  Divorciado|  63033.0|              0|                  0|  2013-11-15|      82|      194|       61|             480|             225|             112|             30|                 1|            3|                 4|               8|               2|         0|         0|         0|         0|         0|          0|       0|              4|Não possui crianç...|   62|
| 13|8180|          1952|    Mestrado|  Divorciado|  59354.0|              1|                  1|  2013-11-15|      53|      233|        2|              53|               3|               5|             14|                 3|            6|                 1|               5|               6|         0|         0|         0|         0|         0|          0|       0|              3|Possui criança em...|   69|
| 14|2569|          1987|   Graduação|      Casado|  17323.0|              0|                  0|  2012-10-10|      38|        3|       14|              17|               6|               1|              5|                 1|            1|                 0|               3|               8|         0|         0|         0|         0|         0|          0|       0|              3|Não possui crianç...|   34|
| 15|2114|          1946|         PhD|    Solteiro|  82800.0|              0|                  0|  2012-11-24|      23|     1006|       22|             115|              59|              68|             45|                 1|            7|                 6|              12|               3|         0|         0|         1|         1|         0|          0|       1|              5|Não possui crianç...|   75|
| 16|9736|          1980|   Graduação|      Casado|  41850.0|              1|                  1|  2012-12-24|      51|       53|        5|              19|               2|              13|              4|                 3|            3|                 0|               3|               8|         0|         0|         0|         0|         0|          0|       0|              3|Possui criança em...|   41|
| 17|4939|          1946|   Graduação|       Junto|  37760.0|              0|                  0|  2012-08-31|      20|       84|        5|              38|             150|              12|             28|                 2|            4|                 1|               6|               7|         0|         0|         0|         0|         0|          0|       0|              5|Não possui crianç...|   75|
| 18|6565|          1949|    Mestrado|      Casado|  76995.0|              0|                  1|  2013-03-28|      91|     1012|       80|             498|               0|              16|            176|                 2|           11|                 4|               9|               5|         0|         0|         0|         1|         0|          0|       0|              4|Não possui crianç...|   72|
| 19|2278|          1985|   2nd Ciclo|    Solteiro|  33812.0|              1|                  0|  2012-11-03|      86|        4|       17|              19|              30|              24|             39|                 2|            2|                 1|               3|               6|         0|         0|         0|         0|         0|          0|       0|              4|Possui criança em...|   36|
+---+----+--------------+------------+------------+---------+---------------+-------------------+------------+--------+---------+---------+----------------+----------------+----------------+---------------+------------------+-------------+------------------+----------------+----------------+----------+----------+----------+----------+----------+-----------+--------+---------------+--------------------+-----+
only showing top 20 rows

In [90]:
df_with_schema = (df_with_schema.withColumn("Recencia_medida", when(df_with_schema.Recencia <= 30, 5)
                                                    .when(df_with_schema.Recencia <= 31, 4)
                                                    .when(df_with_schema.Recencia >= 60, 4)
                                                    .when(df_with_schema.Recencia <= 61, 3)
                                                    .when(df_with_schema.Recencia >= 120, 3)
                                                    .when(df_with_schema.Recencia <= 121, 2)
                                                    .when(df_with_schema.Recencia >= 180, 2)
                                                    .when(df_with_schema.Recencia <= 181, 1)
                                                    .when(df_with_schema.Recencia >= 160, 1) ))

In [92]:
df_with_schema = df_with_schema.withColumn("Tem_Crianca", F.when(F.col('Crianca_em_casa') == 1, "Possui criança em casa").otherwise("Não possui criança em casa"))

In [93]:
df_with_schema.show()

+---+----+--------------+------------+------------+---------+---------------+-------------------+------------+--------+---------+---------+----------------+----------------+----------------+---------------+------------------+-------------+------------------+----------------+----------------+----------+----------+----------+----------+----------+-----------+--------+---------------+--------------------+
|_c0|  ID|Ano_nascimento|Escolaridade|Estado_civil|    Renda|Crianca_em_casa|Adolescente_em_casa|Data_Cliente|Recencia|QtdVinhos|QtdFrutas|QtdProdutosCarne|QtdProdutosPeixe|QtdProdutosDoces|QtdProdutosGold|NumOfertasDeCompra|NumOfertasWeb|NumOfertasCatalogo|NumComprasNaLoja|NumVisitasWebMes|Cmp3Aceito|Cmp4Aceito|Cmp5Aceito|Cmp1Aceito|Cmp2Aceito|Reclamacoes|Resposta|Recencia_medida|         Tem_Crianca|
+---+----+--------------+------------+------------+---------+---------------+-------------------+------------+--------+---------+---------+----------------+----------------+----------------+---------------+------------------+-------------+------------------+----------------+----------------+----------+----------+----------+----------+----------+-----------+--------+---------------+--------------------+
|  0|5524|          1957|   Graduação|    Solteiro|  58138.0|              0|                  0|  2012-09-04|      58|      635|       88|             546|             172|              88|             88|                 3|            8|                10|               4|               7|         0|         0|         0|         0|         0|          0|       1|              3|Não possui crianç...|
|  1|2174|          1954|   Graduação|    Solteiro|  46344.0|              1|                  1|  2014-03-08|      38|       11|        1|               6|               2|               1|              6|                 2|            1|                 1|               2|               5|         0|         0|         0|         0|         0|          0|       0|              3|Possui criança em...|
|  2|4141|          1965|   Graduação|       Junto|  71613.0|              0|                  0|  2013-08-21|      26|      426|       49|             127|             111|              21|             42|                 1|            8|                 2|              10|               4|         0|         0|         0|         0|         0|          0|       0|              5|Não possui crianç...|
|  3|6182|          1984|   Graduação|       Junto|  26646.0|              1|                  0|  2014-02-10|      26|       11|        4|              20|              10|               3|              5|                 2|            2|                 0|               4|               6|         0|         0|         0|         0|         0|          0|       0|              5|Possui criança em...|
|  4|5324|          1981|         PhD|      Casado|  58293.0|              1|                  0|  2014-01-19|      94|      173|       43|             118|              46|              27|             15|                 5|            5|                 3|               6|               5|         0|         0|         0|         0|         0|          0|       0|              4|Possui criança em...|
|  5|7446|          1967|    Mestrado|       Junto|  62513.0|              0|                  1|  2013-09-09|      16|      520|       42|              98|               0|              42|             14|                 2|            6|                 4|              10|               6|         0|         0|         0|         0|         0|          0|       0|              5|Não possui crianç...|
|  6| 965|          1971|   Graduação|  Divorciado|  55635.0|              0|                  1|  2012-11-13|      34|      235|       65|             164|              50|              49|             27|                 4|            7|                 3|               7|               6|         0|         0|         0|         0|         0|          0|       0|              3|Não possui crianç...|
|  7|6177|          1985|         PhD|      Casado|  33454.0|              1|                  0|  2013-05-08|      32|       76|       10|              56|               3|               1|             23|                 2|            4|                 0|               4|               8|         0|         0|         0|         0|         0|          0|       0|              3|Possui criança em...|
|  8|4855|          1974|         PhD|       Junto|  30351.0|              1|                  0|  2013-06-06|      19|       14|        0|              24|               3|               3|              2|                 1|            3|                 0|               2|               9|         0|         0|         0|         0|         0|          0|       1|              5|Possui criança em...|
|  9|5899|          1950|         PhD|       Junto|   5648.0|              1|                  1|  2014-03-13|      68|       28|        0|               6|               1|               1|             13|                 1|            1|                 0|               0|              20|         1|         0|         0|         0|         0|          0|       0|              4|Possui criança em...|
| 10|1994|          1983|   Graduação|      Casado|30399.266|              1|                  0|  2013-11-15|      11|        5|        5|               6|               0|               2|              1|                 1|            1|                 0|               2|               7|         0|         0|         0|         0|         0|          0|       0|              5|Possui criança em...|
| 11| 387|          1976|      Basico|      Casado|   7500.0|              0|                  0|  2012-11-13|      59|        6|       16|              11|              11|               1|             16|                 1|            2|                 0|               3|               8|         0|         0|         0|         0|         0|          0|       0|              3|Não possui crianç...|
| 12|2125|          1959|   Graduação|  Divorciado|  63033.0|              0|                  0|  2013-11-15|      82|      194|       61|             480|             225|             112|             30|                 1|            3|                 4|               8|               2|         0|         0|         0|         0|         0|          0|       0|              4|Não possui crianç...|
| 13|8180|          1952|    Mestrado|  Divorciado|  59354.0|              1|                  1|  2013-11-15|      53|      233|        2|              53|               3|               5|             14|                 3|            6|                 1|               5|               6|         0|         0|         0|         0|         0|          0|       0|              3|Possui criança em...|
| 14|2569|          1987|   Graduação|      Casado|  17323.0|              0|                  0|  2012-10-10|      38|        3|       14|              17|               6|               1|              5|                 1|            1|                 0|               3|               8|         0|         0|         0|         0|         0|          0|       0|              3|Não possui crianç...|
| 15|2114|          1946|         PhD|    Solteiro|  82800.0|              0|                  0|  2012-11-24|      23|     1006|       22|             115|              59|              68|             45|                 1|            7|                 6|              12|               3|         0|         0|         1|         1|         0|          0|       1|              5|Não possui crianç...|
| 16|9736|          1980|   Graduação|      Casado|  41850.0|              1|                  1|  2012-12-24|      51|       53|        5|              19|               2|              13|              4|                 3|            3|                 0|               3|               8|         0|         0|         0|         0|         0|          0|       0|              3|Possui criança em...|
| 17|4939|          1946|   Graduação|       Junto|  37760.0|              0|                  0|  2012-08-31|      20|       84|        5|              38|             150|              12|             28|                 2|            4|                 1|               6|               7|         0|         0|         0|         0|         0|          0|       0|              5|Não possui crianç...|
| 18|6565|          1949|    Mestrado|      Casado|  76995.0|              0|                  1|  2013-03-28|      91|     1012|       80|             498|               0|              16|            176|                 2|           11|                 4|               9|               5|         0|         0|         0|         1|         0|          0|       0|              4|Não possui crianç...|
| 19|2278|          1985|   2nd Ciclo|    Solteiro|  33812.0|              1|                  0|  2012-11-03|      86|        4|       17|              19|              30|              24|             39|                 2|            2|                 1|               3|               6|         0|         0|         0|         0|         0|          0|       0|              4|Possui criança em...|
+---+----+--------------+------------+------------+---------+---------------+-------------------+------------+--------+---------+---------+----------------+----------------+----------------+---------------+------------------+-------------+------------------+----------------+----------------+----------+----------+----------+----------+----------+-----------+--------+---------------+--------------------+
only showing top 20 rows

In [102]:
df_with_schema = df_with_schema.withColumn("Idade", Ano_atual - F.col("Ano_nascimento"))

df_with_schema.show()

+---+----+--------------+------------+------------+---------+---------------+-------------------+------------+--------+---------+---------+----------------+----------------+----------------+---------------+------------------+-------------+------------------+----------------+----------------+----------+----------+----------+----------+----------+-----------+--------+---------------+--------------------+-----+
|_c0|  ID|Ano_nascimento|Escolaridade|Estado_civil|    Renda|Crianca_em_casa|Adolescente_em_casa|Data_Cliente|Recencia|QtdVinhos|QtdFrutas|QtdProdutosCarne|QtdProdutosPeixe|QtdProdutosDoces|QtdProdutosGold|NumOfertasDeCompra|NumOfertasWeb|NumOfertasCatalogo|NumComprasNaLoja|NumVisitasWebMes|Cmp3Aceito|Cmp4Aceito|Cmp5Aceito|Cmp1Aceito|Cmp2Aceito|Reclamacoes|Resposta|Recencia_medida|         Tem_Crianca|Idade|
+---+----+--------------+------------+------------+---------+---------------+-------------------+------------+--------+---------+---------+----------------+----------------+----------------+---------------+------------------+-------------+------------------+----------------+----------------+----------+----------+----------+----------+----------+-----------+--------+---------------+--------------------+-----+
|  0|5524|          1957|   Graduação|    Solteiro|  58138.0|              0|                  0|  2012-09-04|      58|      635|       88|             546|             172|              88|             88|                 3|            8|                10|               4|               7|         0|         0|         0|         0|         0|          0|       1|              3|Não possui crianç...|   64|
|  1|2174|          1954|   Graduação|    Solteiro|  46344.0|              1|                  1|  2014-03-08|      38|       11|        1|               6|               2|               1|              6|                 2|            1|                 1|               2|               5|         0|         0|         0|         0|         0|          0|       0|              3|Possui criança em...|   67|
|  2|4141|          1965|   Graduação|       Junto|  71613.0|              0|                  0|  2013-08-21|      26|      426|       49|             127|             111|              21|             42|                 1|            8|                 2|              10|               4|         0|         0|         0|         0|         0|          0|       0|              5|Não possui crianç...|   56|
|  3|6182|          1984|   Graduação|       Junto|  26646.0|              1|                  0|  2014-02-10|      26|       11|        4|              20|              10|               3|              5|                 2|            2|                 0|               4|               6|         0|         0|         0|         0|         0|          0|       0|              5|Possui criança em...|   37|
|  4|5324|          1981|         PhD|      Casado|  58293.0|              1|                  0|  2014-01-19|      94|      173|       43|             118|              46|              27|             15|                 5|            5|                 3|               6|               5|         0|         0|         0|         0|         0|          0|       0|              4|Possui criança em...|   40|
|  5|7446|          1967|    Mestrado|       Junto|  62513.0|              0|                  1|  2013-09-09|      16|      520|       42|              98|               0|              42|             14|                 2|            6|                 4|              10|               6|         0|         0|         0|         0|         0|          0|       0|              5|Não possui crianç...|   54|
|  6| 965|          1971|   Graduação|  Divorciado|  55635.0|              0|                  1|  2012-11-13|      34|      235|       65|             164|              50|              49|             27|                 4|            7|                 3|               7|               6|         0|         0|         0|         0|         0|          0|       0|              3|Não possui crianç...|   50|
|  7|6177|          1985|         PhD|      Casado|  33454.0|              1|                  0|  2013-05-08|      32|       76|       10|              56|               3|               1|             23|                 2|            4|                 0|               4|               8|         0|         0|         0|         0|         0|          0|       0|              3|Possui criança em...|   36|
|  8|4855|          1974|         PhD|       Junto|  30351.0|              1|                  0|  2013-06-06|      19|       14|        0|              24|               3|               3|              2|                 1|            3|                 0|               2|               9|         0|         0|         0|         0|         0|          0|       1|              5|Possui criança em...|   47|
|  9|5899|          1950|         PhD|       Junto|   5648.0|              1|                  1|  2014-03-13|      68|       28|        0|               6|               1|               1|             13|                 1|            1|                 0|               0|              20|         1|         0|         0|         0|         0|          0|       0|              4|Possui criança em...|   71|
| 10|1994|          1983|   Graduação|      Casado|30399.266|              1|                  0|  2013-11-15|      11|        5|        5|               6|               0|               2|              1|                 1|            1|                 0|               2|               7|         0|         0|         0|         0|         0|          0|       0|              5|Possui criança em...|   38|
| 11| 387|          1976|      Basico|      Casado|   7500.0|              0|                  0|  2012-11-13|      59|        6|       16|              11|              11|               1|             16|                 1|            2|                 0|               3|               8|         0|         0|         0|         0|         0|          0|       0|              3|Não possui crianç...|   45|
| 12|2125|          1959|   Graduação|  Divorciado|  63033.0|              0|                  0|  2013-11-15|      82|      194|       61|             480|             225|             112|             30|                 1|            3|                 4|               8|               2|         0|         0|         0|         0|         0|          0|       0|              4|Não possui crianç...|   62|
| 13|8180|          1952|    Mestrado|  Divorciado|  59354.0|              1|                  1|  2013-11-15|      53|      233|        2|              53|               3|               5|             14|                 3|            6|                 1|               5|               6|         0|         0|         0|         0|         0|          0|       0|              3|Possui criança em...|   69|
| 14|2569|          1987|   Graduação|      Casado|  17323.0|              0|                  0|  2012-10-10|      38|        3|       14|              17|               6|               1|              5|                 1|            1|                 0|               3|               8|         0|         0|         0|         0|         0|          0|       0|              3|Não possui crianç...|   34|
| 15|2114|          1946|         PhD|    Solteiro|  82800.0|              0|                  0|  2012-11-24|      23|     1006|       22|             115|              59|              68|             45|                 1|            7|                 6|              12|               3|         0|         0|         1|         1|         0|          0|       1|              5|Não possui crianç...|   75|
| 16|9736|          1980|   Graduação|      Casado|  41850.0|              1|                  1|  2012-12-24|      51|       53|        5|              19|               2|              13|              4|                 3|            3|                 0|               3|               8|         0|         0|         0|         0|         0|          0|       0|              3|Possui criança em...|   41|
| 17|4939|          1946|   Graduação|       Junto|  37760.0|              0|                  0|  2012-08-31|      20|       84|        5|              38|             150|              12|             28|                 2|            4|                 1|               6|               7|         0|         0|         0|         0|         0|          0|       0|              5|Não possui crianç...|   75|
| 18|6565|          1949|    Mestrado|      Casado|  76995.0|              0|                  1|  2013-03-28|      91|     1012|       80|             498|               0|              16|            176|                 2|           11|                 4|               9|               5|         0|         0|         0|         1|         0|          0|       0|              4|Não possui crianç...|   72|
| 19|2278|          1985|   2nd Ciclo|    Solteiro|  33812.0|              1|                  0|  2012-11-03|      86|        4|       17|              19|              30|              24|             39|                 2|            2|                 1|               3|               6|         0|         0|         0|         0|         0|          0|       0|              4|Possui criança em...|   36|
+---+----+--------------+------------+------------+---------+---------------+-------------------+------------+--------+---------+---------+----------------+----------------+----------------+---------------+------------------+-------------+------------------+----------------+----------------+----------+----------+----------+----------+----------+-----------+--------+---------------+--------------------+-----+
only showing top 20 rows

# Filtros ordenação e agrupamento

In [104]:
df_with_schema.select(F.col("Idade"), F.col("Escolaridade"), F.col("Estado_civil"), F.col("Renda"))\
                .filter(F.col("Escolaridade") == "Graduação")\
                .show(50)

+-----+------------+------------+---------+
|Idade|Escolaridade|Estado_civil|    Renda|
+-----+------------+------------+---------+
|   64|   Graduação|    Solteiro|  58138.0|
|   67|   Graduação|    Solteiro|  46344.0|
|   56|   Graduação|       Junto|  71613.0|
|   37|   Graduação|       Junto|  26646.0|
|   50|   Graduação|  Divorciado|  55635.0|
|   38|   Graduação|      Casado|30399.266|
|   62|   Graduação|  Divorciado|  63033.0|
|   34|   Graduação|      Casado|  17323.0|
|   41|   Graduação|      Casado|  41850.0|
|   75|   Graduação|       Junto|  37760.0|
|   39|   Graduação|      Casado|  37040.0|
|   42|   Graduação|      Casado|   2447.0|
|   70|   Graduação|       Junto|  40689.0|
|   52|   Graduação|    Solteiro|  18589.0|
|   45|   Graduação|      Casado|  53359.0|
|   35|   Graduação|    Solteiro| 32993.14|
|   32|   Graduação|      Casado|  38360.0|
|   51|   Graduação|       Junto|  40548.0|
|   48|   Graduação|       Viuva|  42429.0|
|   41|   Graduação|      Casado|  80011.0|
|   64|   Graduação|       Junto|  21994.0|
|   45|   Graduação|    Solteiro|  79941.0|
|   53|   Graduação|       Junto|  41728.0|
|   70|   Graduação|    Solteiro|40840.973|
|   64|   Graduação|       Viuva|  65486.0|
|   44|   Graduação|    Solteiro|  35790.0|
|   44|   Graduação|  Divorciado|  82582.0|
|   43|   Graduação|      Casado|  66373.0|
|   55|   Graduação|  Divorciado|  70287.0|
|   33|   Graduação|    Solteiro|  27938.0|
|   39|   Graduação|    Solteiro|34814.918|
|   46|   Graduação|       Junto|  66653.0|
|   69|   Graduação|    Solteiro|  61823.0|
|   73|   Graduação|       Junto|  70666.0|
|   50|   Graduação|      Casado|  25721.0|
|   54|   Graduação|       Junto|  32474.0|
|   63|   Graduação|       Junto|  69096.0|
|   51|   Graduação|       Junto|  74854.0|
|   62|   Graduação|      Casado|  65031.0|
|   69|   Graduação|      Casado|  28332.0|
|   44|   Graduação|  Divorciado|  40246.0|
|   45|   Graduação|    Solteiro|  75825.0|
|   56|   Graduação|       Junto|  56046.0|
|   36|   Graduação|    Solteiro|  29760.0|
|   52|   Graduação|      Casado|  26304.0|
|   34|   Graduação|  Divorciado|  81361.0|
|   61|   Graduação|      Casado|  29440.0|
|   64|   Graduação|    Solteiro|  50388.0|
|   48|   Graduação|      Casado|  79593.0|
|   54|   Graduação|       Junto|  54178.0|
+-----+------------+------------+---------+
only showing top 50 rows

In [105]:
df_with_schema.select(F.col("Escolaridade"), F.col('Renda')).filter(F.col('Renda') < 5000).show()

+------------+------+
|Escolaridade| Renda|
+------------+------+
|   Graduação|2447.0|
|   Graduação|4861.0|
|   Graduação|1730.0|
|   Graduação|3502.0|
|         PhD|4023.0|
|   Graduação|4428.0|
+------------+------+

In [106]:
df_with_schema.select(F.col('Escolaridade'), F.col('Renda')).orderBy('Renda').show()

+------------+------+
|Escolaridade| Renda|
+------------+------+
|   Graduação|1730.0|
|   Graduação|2447.0|
|   Graduação|3502.0|
|         PhD|4023.0|
|   Graduação|4428.0|
|   Graduação|4861.0|
|   Graduação|5305.0|
|         PhD|5648.0|
|    Mestrado|6560.0|
|         PhD|6835.0|
|         PhD|7144.0|
|   Graduação|7500.0|
|   2nd Ciclo|7500.0|
|   Graduação|7500.0|
|      Basico|7500.0|
|   Graduação|7500.0|
|      Basico|7500.0|
|   Graduação|7500.0|
|    Mestrado|7500.0|
|   Graduação|7500.0|
+------------+------+
only showing top 20 rows

In [108]:
df_with_schema.select(F.col("Idade"), F.col('Escolaridade'), F.col('Renda')).orderBy('Idade').show()

+-----+------------+-------+
|Idade|Escolaridade|  Renda|
+-----+------------+-------+
|   25|   2nd Ciclo| 7500.0|
|   25|      Basico|14421.0|
|   26|   2nd Ciclo|83257.0|
|   26|   2nd Ciclo|80617.0|
|   26|   Graduação|34824.0|
|   26|   Graduação|71163.0|
|   26|   Graduação|34824.0|
|   27|   Graduação|80134.0|
|   27|   Graduação|80685.0|
|   27|   Graduação|95529.0|
|   28|   Graduação|72354.0|
|   28|   Graduação|74293.0|
|   28|   Graduação|70515.0|
|   28|   Graduação|79244.0|
|   28|   Graduação|74293.0|
|   29|    Mestrado|42670.0|
|   29|   Graduação|34935.0|
|   29|    Mestrado|92859.0|
|   29|   Graduação|75114.0|
|   29|   Graduação|48789.0|
+-----+------------+-------+
only showing top 20 rows

In [112]:
df_with_schema.groupBy("Data_Cliente").min("Recencia_medida").show(truncate=False)

+------------+--------------------+
|Data_Cliente|min(Recencia_medida)|
+------------+--------------------+
|2014-05-27  |3                   |
|2014-02-16  |3                   |
|2013-03-14  |3                   |
|2014-02-22  |5                   |
|2012-10-21  |3                   |
|2013-08-20  |3                   |
|2013-12-28  |3                   |
|2014-03-20  |3                   |
|2014-03-17  |3                   |
|2013-11-08  |4                   |
|2013-09-27  |4                   |
|2012-08-17  |3                   |
|2012-09-05  |5                   |
|2012-11-08  |3                   |
|2014-05-23  |3                   |
|2013-02-17  |3                   |
|2014-02-08  |5                   |
|2013-05-24  |4                   |
|2013-11-05  |4                   |
|2013-02-12  |3                   |
+------------+--------------------+
only showing top 20 rows

In [113]:
df_with_schema.groupBy("Data_Cliente").max("Recencia_medida").show(truncate=False)

+------------+--------------------+
|Data_Cliente|max(Recencia_medida)|
+------------+--------------------+
|2014-05-27  |3                   |
|2014-02-16  |4                   |
|2013-03-14  |5                   |
|2014-02-22  |5                   |
|2012-10-21  |3                   |
|2013-08-20  |5                   |
|2013-12-28  |3                   |
|2014-03-20  |5                   |
|2014-03-17  |5                   |
|2013-11-08  |4                   |
|2013-09-27  |5                   |
|2012-08-17  |5                   |
|2012-09-05  |5                   |
|2012-11-08  |5                   |
|2014-05-23  |5                   |
|2013-02-17  |4                   |
|2014-02-08  |5                   |
|2013-05-24  |4                   |
|2013-11-05  |5                   |
|2013-02-12  |5                   |
+------------+--------------------+
only showing top 20 rows

In [117]:
df_with_schema.groupBy("Idade").mean("Renda").show()

+-----+------------------+
|Idade|        avg(Renda)|
+-----+------------------+
|   31| 40919.27777777778|
|   65|           56706.6|
|   53|48597.450980392154|
|   78| 64249.06696428572|
|   34|46888.666666666664|
|   81|           51141.0|
|   28|           74139.8|
|   76|         70375.375|
|   27| 85449.33333333333|
|   26|           60937.0|
|   44| 62653.03846153846|
|  128|           60182.0|
|  122|           83532.0|
|   47| 48338.89855072464|
|   52| 51358.53818221831|
|   40|46640.247996794875|
|   57| 55737.74865141369|
|   54|53782.431818181816|
|   48| 47521.59702280405|
|   64|53725.355014534885|
+-----+------------------+
only showing top 20 rows

# Window Functions

In [118]:
w1 = W.orderBy(F.col('Idade').desc())
df_with_schema.withColumn("rank_Idade", F.rank().over(w1)).show()

+----+-----+--------------+------------+------------+--------+---------------+-------------------+------------+--------+---------+---------+----------------+----------------+----------------+---------------+------------------+-------------+------------------+----------------+----------------+----------+----------+----------+----------+----------+-----------+--------+---------------+--------------------+-----+----------+
| _c0|   ID|Ano_nascimento|Escolaridade|Estado_civil|   Renda|Crianca_em_casa|Adolescente_em_casa|Data_Cliente|Recencia|QtdVinhos|QtdFrutas|QtdProdutosCarne|QtdProdutosPeixe|QtdProdutosDoces|QtdProdutosGold|NumOfertasDeCompra|NumOfertasWeb|NumOfertasCatalogo|NumComprasNaLoja|NumVisitasWebMes|Cmp3Aceito|Cmp4Aceito|Cmp5Aceito|Cmp1Aceito|Cmp2Aceito|Reclamacoes|Resposta|Recencia_medida|         Tem_Crianca|Idade|rank_Idade|
+----+-----+--------------+------------+------------+--------+---------------+-------------------+------------+--------+---------+---------+----------------+----------------+----------------+---------------+------------------+-------------+------------------+----------------+----------------+----------+----------+----------+----------+----------+-----------+--------+---------------+--------------------+-----+----------+
| 239|11004|          1893|   2nd Ciclo|    Solteiro| 60182.0|              0|                  1|  2014-05-17|      23|        8|        0|               5|               7|               0|              2|                 1|            1|                 0|               2|               4|         0|         0|         0|         0|         0|          0|       0|              5|Não possui crianç...|  128|         1|
| 339| 1150|          1899|         PhD|       Junto| 83532.0|              0|                  0|  2013-09-26|      36|      755|      144|             562|             104|              64|            224|                 1|            4|                 6|               4|               1|         0|         0|         1|         0|         0|          0|       0|              3|Não possui crianç...|  122|         2|
| 192| 7829|          1900|   2nd Ciclo|  Divorciado| 36640.0|              1|                  0|  2013-09-26|      99|       15|        6|               8|               7|               4|             25|                 1|            2|                 1|               2|               5|         0|         0|         0|         0|         0|          1|       0|              4|Possui criança em...|  121|         3|
|1950| 6663|          1940|         PhD|    Solteiro| 51141.0|              0|                  0|  2013-07-08|      96|      144|        0|               7|               0|               0|              6|                 1|            3|                 1|               4|               5|         0|         0|         0|         0|         0|          0|       0|              4|Não possui crianç...|   81|         4|
| 424| 6932|          1941|         PhD|      Casado| 93027.0|              0|                  0|  2013-04-13|      77|     1285|       42|             716|              55|               0|             21|                 0|            7|                10|               5|               2|         0|         0|         1|         0|         0|          0|       0|              4|Não possui crianç...|   80|         5|
|  39| 2968|          1943|         PhD|  Divorciado| 48948.0|              0|                  0|  2013-02-01|      53|      437|        8|             206|             160|              49|             42|                 2|            7|                10|               5|               6|         1|         0|         0|         0|         0|          0|       1|              3|Não possui crianç...|   78|         6|
| 358| 6142|          1943|    Mestrado|      Casado| 65073.0|              0|                  0|  2013-08-20|      65|      629|       17|             177|              69|               0|              8|                 1|            5|                 3|               5|               2|         0|         0|         0|         0|         0|          1|       0|              4|Não possui crianç...|   78|         6|
| 415| 7106|          1943|         PhD|      Casado| 75865.0|              0|                  0|  2014-03-31|      73|      483|        0|             591|             156|               0|             12|                 1|            3|                 5|              10|               1|         0|         0|         0|         0|         0|          0|       0|              4|Não possui crianç...|   78|         6|
| 894| 8800|          1943|         PhD|  Divorciado| 48948.0|              0|                  0|  2013-02-01|      53|      437|        8|             206|             160|              49|             42|                 2|            7|                10|               5|               6|         1|         0|         0|         0|         0|          0|       1|              3|Não possui crianç...|   78|         6|
|1150| 1453|          1943|         PhD|       Viuva| 57513.0|              0|                  0|  2013-07-06|      59|      735|       40|             183|              52|              20|             30|                 2|            9|                 3|              13|               6|         0|         0|         0|         0|         0|          0|       0|              3|Não possui crianç...|   78|         6|
|1923| 4994|          1943|    Mestrado|    Solteiro| 77598.0|              0|                  0|  2013-10-01|      53|     1193|       33|             281|             129|              66|             33|                 1|            7|                 5|              13|               3|         0|         0|         1|         0|         0|          0|       0|              3|Não possui crianç...|   78|         6|
|2084| 5250|          1943|    Mestrado|       Viuva|75798.47|              0|                  0|  2013-10-30|      75|      532|      126|             490|             164|             126|            126|                 1|            5|                 5|              11|               1|         0|         0|         1|         0|         0|          0|       1|              4|Não possui crianç...|   78|         6|
| 519| 3711|          1944|    Mestrado|      Casado| 80184.0|              0|                  0|  2014-03-01|      19|     1035|      134|             670|              25|              38|              0|                 1|            6|                 3|              10|               3|         0|         0|         1|         1|         0|          0|       0|              5|Não possui crianç...|   77|        13|
| 499|  466|          1944|   Graduação|      Casado| 65275.0|              0|                  0|  2013-04-03|       9|      388|       14|             218|              91|              14|             21|                 1|            4|                 3|              13|               2|         0|         0|         0|         0|         0|          0|       0|              5|Não possui crianç...|   77|        13|
| 611| 4587|          1944|    Mestrado|       Viuva| 45006.0|              0|                  0|  2013-07-18|      90|      162|       25|              53|              16|               0|             10|                 1|            3|                 1|               7|               3|         0|         0|         0|         0|         0|          0|       0|              4|Não possui crianç...|   77|        13|
| 494| 6605|          1944|         PhD|  Divorciado| 55614.0|              0|                  0|  2013-11-27|      85|      504|       13|             131|               8|               0|             26|                 1|            9|                 4|               6|               7|         0|         1|         0|         0|         0|          0|       0|              4|Não possui crianç...|   77|        13|
| 803| 9930|          1944|         PhD|    Solteiro| 82716.0|              0|                  0|  2013-11-05|       8|      606|      148|             228|              15|             148|             22|                 1|            6|                 8|              13|               2|         0|         0|         0|         0|         0|          0|       0|              5|Não possui crianç...|   77|        13|
|1270| 1740|          1944|   Graduação|      Casado| 55956.0|              0|                  0|  2014-04-07|      22|      760|       38|             104|              50|               9|             38|                 2|            7|                 3|               4|               4|         0|         1|         0|         0|         0|          0|       0|              5|Não possui crianç...|   77|        13|
|1413| 4310|          1944|   Graduação|      Casado| 80589.0|              0|                  0|  2014-01-22|      25|      507|       93|             520|             242|              40|             26|                 1|            5|                10|               5|               1|         0|         0|         0|         1|         0|          0|       1|              5|Não possui crianç...|   77|        13|
| 161| 9260|          1945|         PhD|      Casado| 70356.0|              0|                  0|  2012-11-05|      20|     1349|       16|             249|              43|              16|             33|                 2|           10|                 6|               9|               6|         0|         0|         0|         0|         0|          0|       0|              5|Não possui crianç...|   76|        20|
+----+-----+--------------+------------+------------+--------+---------------+-------------------+------------+--------+---------+---------+----------------+----------------+----------------+---------------+------------------+-------------+------------------+----------------+----------------+----------+----------+----------+----------+----------+-----------+--------+---------------+--------------------+-----+----------+
only showing top 20 rows

In [120]:
w2 = W.partitionBy(F.col("Recencia_medida")).orderBy("Renda")
df_with_schema.withColumn("row_number", F.row_number().over(w2)).show()

+----+-----+--------------+------------+------------+-------+---------------+-------------------+------------+--------+---------+---------+----------------+----------------+----------------+---------------+------------------+-------------+------------------+----------------+----------------+----------+----------+----------+----------+----------+-----------+--------+---------------+--------------------+-----+----------+
| _c0|   ID|Ano_nascimento|Escolaridade|Estado_civil|  Renda|Crianca_em_casa|Adolescente_em_casa|Data_Cliente|Recencia|QtdVinhos|QtdFrutas|QtdProdutosCarne|QtdProdutosPeixe|QtdProdutosDoces|QtdProdutosGold|NumOfertasDeCompra|NumOfertasWeb|NumOfertasCatalogo|NumComprasNaLoja|NumVisitasWebMes|Cmp3Aceito|Cmp4Aceito|Cmp5Aceito|Cmp1Aceito|Cmp2Aceito|Reclamacoes|Resposta|Recencia_medida|         Tem_Crianca|Idade|row_number|
+----+-----+--------------+------------+------------+-------+---------------+-------------------+------------+--------+---------+---------+----------------+----------------+----------------+---------------+------------------+-------------+------------------+----------------+----------------+----------+----------+----------+----------+----------+-----------+--------+---------------+--------------------+-----+----------+
|  21| 5376|          1979|   Graduação|      Casado| 2447.0|              1|                  0|  2013-01-06|      42|        1|        1|            1725|               1|               1|              1|                15|            0|                28|               0|               1|         0|         0|         0|         0|         0|          0|       0|              3|Possui criança em...|   42|         1|
|1524|11110|          1973|   Graduação|    Solteiro| 3502.0|              1|                  0|  2013-04-13|      56|        2|        1|               1|               0|               0|              1|                 0|            0|                 0|               0|              14|         0|         0|         0|         0|         0|          0|       0|              3|Possui criança em...|   48|         2|
|  11|  387|          1976|      Basico|      Casado| 7500.0|              0|                  0|  2012-11-13|      59|        6|       16|              11|              11|               1|             16|                 1|            2|                 0|               3|               8|         0|         0|         0|         0|         0|          0|       0|              3|Não possui crianç...|   45|         3|
| 238| 7297|          1973|   Graduação|    Solteiro| 7500.0|              1|                  0|  2013-12-26|      54|        5|        3|              10|              12|               7|             20|                 4|            3|                 1|               3|               7|         0|         0|         0|         0|         0|          0|       0|              3|Possui criança em...|   48|         4|
|2195| 2980|          1952|    Mestrado|    Solteiro| 8820.0|              1|                  1|  2013-03-22|      52|       12|        0|              13|               4|               2|              4|                 4|            3|                 0|               3|               8|         0|         0|         0|         0|         0|          0|       0|              3|Possui criança em...|   69|         5|
| 385|  948|          1971|   Graduação|    Solteiro|10245.0|              1|                  0|  2013-05-15|      32|        4|        7|               7|               6|               4|             13|                 3|            1|                 2|               2|               5|         0|         0|         0|         0|         0|          0|       0|              3|Possui criança em...|   50|         6|
| 428| 5987|          1989|   2nd Ciclo|       Junto|10404.0|              1|                  0|  2014-05-04|      52|        2|        2|              11|              10|               6|             12|                 2|            1|                 0|               4|               5|         0|         0|         0|         0|         0|          0|       0|              3|Possui criança em...|   32|         7|
|  30| 6864|          1989|    Mestrado|  Divorciado|10979.0|              0|                  0|  2014-05-22|      34|        8|        4|              10|               2|               2|              4|                 2|            3|                 0|               3|               5|         0|         0|         0|         0|         0|          0|       0|              3|Não possui crianç...|   32|         8|
|1138|10617|          1989|    Mestrado|  Divorciado|10979.0|              0|                  0|  2014-05-22|      34|        8|        4|              10|               2|               2|              4|                 2|            3|                 0|               3|               5|         0|         0|         0|         0|         0|          0|       0|              3|Não possui crianç...|   32|         9|
|1611| 1773|          1978|   2nd Ciclo|      Casado|12393.0|              0|                  0|  2012-12-04|      38|        5|        6|              15|              11|               7|             13|                 1|            2|                 0|               3|               9|         0|         0|         0|         0|         0|          0|       0|              3|Não possui crianç...|   43|        10|
| 577| 1160|          1970|   Graduação|      Casado|13260.0|              1|                  1|  2013-08-23|      48|        9|        4|              17|              10|               2|              7|                 4|            3|                 0|               3|               8|         0|         0|         0|         0|         0|          0|       0|              3|Possui criança em...|   51|        11|
|1761| 8812|          1979|   2nd Ciclo|  Divorciado|13533.0|              1|                  0|  2013-03-10|      45|       12|        3|               8|               8|               0|             17|                 2|            2|                 0|               3|               7|         0|         0|         0|         0|         0|          0|       0|              3|Possui criança em...|   42|        12|
|1592|10069|          1988|      Basico|       Junto|13724.0|              1|                  0|  2012-08-31|      43|        2|        7|               5|               2|              15|             27|                 1|            2|                 0|               2|               9|         1|         0|         0|         0|         0|          0|       0|              3|Possui criança em...|   33|        13|
|2104| 5802|          1972|      Basico|      Casado|14188.0|              0|                  0|  2013-02-28|      40|        2|        7|              11|              16|              12|             27|                 1|            2|                 0|               4|               6|         0|         0|         0|         0|         0|          0|       0|              3|Não possui crianç...|   49|        14|
| 326| 5835|          1976|         PhD|  Divorciado|14849.0|              1|                  0|  2013-07-02|      39|       21|        2|              28|               3|               2|              9|                 3|            2|                 0|               4|               8|         0|         0|         0|         0|         0|          0|       0|              3|Possui criança em...|   45|        15|
|2208| 3850|          1963|      Basico|       Junto|14918.0|              0|                  1|  2012-12-07|      52|        3|        3|               3|              15|               4|             15|                 1|            1|                 0|               3|               6|         0|         0|         0|         0|         0|          0|       0|              3|Não possui crianç...|   58|        16|
| 233| 9617|          1951|   Graduação|    Solteiro|15033.0|              0|                  0|  2014-04-16|      37|        0|        4|               5|               6|               0|              4|                 1|            1|                 0|               3|               3|         0|         0|         0|         0|         0|          0|       0|              3|Não possui crianç...|   70|        17|
| 397| 6354|          1984|   Graduação|       Junto|15345.0|              1|                  0|  2012-08-31|      51|        5|        2|              16|               3|               2|             19|                 2|            1|                 1|               2|               8|         0|         0|         0|         0|         0|          0|       1|              3|Possui criança em...|   37|        18|
|1755| 5394|          1979|      Basico|    Solteiro|16014.0|              1|                  1|  2013-03-17|      42|        3|        9|               4|               7|               8|              7|                 4|            1|                 1|               4|               3|         0|         0|         0|         0|         0|          0|       0|              3|Possui criança em...|   42|        19|
|1463|10403|          1978|   Graduação|       Junto|16531.0|              1|                  0|  2014-06-18|      43|        2|       13|               6|               7|               5|             11|                 3|            3|                 0|               3|               7|         0|         0|         0|         0|         0|          0|       0|              3|Possui criança em...|   43|        20|
+----+-----+--------------+------------+------------+-------+---------------+-------------------+------------+--------+---------+---------+----------------+----------------+----------------+---------------+------------------+-------------+------------------+----------------+----------------+----------+----------+----------+----------+----------+-----------+--------+---------------+--------------------+-----+----------+
only showing top 20 rows

In [121]:
w3 = W.partitionBy(F.col("Renda")).orderBy("Recencia_medida")
df_with_schema.withColumn("row_number", F.row_number().over(w3)).show()

+----+-----+--------------+------------+------------+------+---------------+-------------------+------------+--------+---------+---------+----------------+----------------+----------------+---------------+------------------+-------------+------------------+----------------+----------------+----------+----------+----------+----------+----------+-----------+--------+---------------+--------------------+-----+----------+
| _c0|   ID|Ano_nascimento|Escolaridade|Estado_civil| Renda|Crianca_em_casa|Adolescente_em_casa|Data_Cliente|Recencia|QtdVinhos|QtdFrutas|QtdProdutosCarne|QtdProdutosPeixe|QtdProdutosDoces|QtdProdutosGold|NumOfertasDeCompra|NumOfertasWeb|NumOfertasCatalogo|NumComprasNaLoja|NumVisitasWebMes|Cmp3Aceito|Cmp4Aceito|Cmp5Aceito|Cmp1Aceito|Cmp2Aceito|Reclamacoes|Resposta|Recencia_medida|         Tem_Crianca|Idade|row_number|
+----+-----+--------------+------------+------------+------+---------------+-------------------+------------+--------+---------+---------+----------------+----------------+----------------+---------------+------------------+-------------+------------------+----------------+----------------+----------+----------+----------+----------+----------+-----------+--------+---------------+--------------------+-----+----------+
|1245| 6862|          1971|   Graduação|  Divorciado|1730.0|              0|                  0|  2014-05-18|      65|        1|        1|               3|               1|               1|              1|                15|            0|                 0|               0|              20|         0|         0|         0|         0|         0|          0|       0|              4|Não possui crianç...|   50|         1|
|  21| 5376|          1979|   Graduação|      Casado|2447.0|              1|                  0|  2013-01-06|      42|        1|        1|            1725|               1|               1|              1|                15|            0|                28|               0|               1|         0|         0|         0|         0|         0|          0|       0|              3|Possui criança em...|   42|         1|
|1524|11110|          1973|   Graduação|    Solteiro|3502.0|              1|                  0|  2013-04-13|      56|        2|        1|               1|               0|               0|              1|                 0|            0|                 0|               0|              14|         0|         0|         0|         0|         0|          0|       0|              3|Possui criança em...|   48|         1|
|1846| 9931|          1963|         PhD|      Casado|4023.0|              1|                  1|  2014-06-23|      29|        5|        0|               1|               1|               1|              1|                15|            0|                 0|               0|              19|         0|         0|         0|         0|         0|          0|       0|              5|Possui criança em...|   58|         1|
|1975|10311|          1969|   Graduação|      Casado|4428.0|              0|                  1|  2013-10-05|       0|       16|        4|              12|               2|               4|            321|                 0|           25|                 0|               0|               1|         0|         0|         0|         0|         0|          0|       0|              5|Não possui crianç...|   52|         1|
| 981| 3955|          1965|   Graduação|  Divorciado|4861.0|              0|                  0|  2014-06-22|      20|        2|        1|               1|               1|               0|              1|                 0|            0|                 0|               0|              14|         0|         0|         0|         0|         0|          0|       0|              5|Não possui crianç...|   56|         1|
|2214| 9303|          1976|   Graduação|      Casado|5305.0|              0|                  1|  2013-07-30|      12|       12|        4|               7|               1|               3|              5|                 0|            1|                 0|               0|              13|         0|         0|         0|         0|         0|          0|       0|              5|Não possui crianç...|   45|         1|
|   9| 5899|          1950|         PhD|       Junto|5648.0|              1|                  1|  2014-03-13|      68|       28|        0|               6|               1|               1|             13|                 1|            1|                 0|               0|              20|         1|         0|         0|         0|         0|          0|       0|              4|Possui criança em...|   71|         1|
|1328| 4246|          1982|    Mestrado|    Solteiro|6560.0|              0|                  0|  2013-12-12|       2|       67|       11|              26|               4|               3|            262|                 0|            1|                 0|               1|              17|         0|         0|         0|         0|         0|          0|       0|              5|Não possui crianç...|   39|         1|
| 774| 4303|          1957|         PhD|       Junto|6835.0|              0|                  1|  2012-12-08|      76|      107|        2|              12|               2|               2|             12|                 0|            0|                 0|               1|              20|         0|         0|         0|         0|         0|          0|       0|              4|Não possui crianç...|   64|         1|
|1806| 6237|          1966|         PhD|    Solteiro|7144.0|              0|                  2|  2013-12-07|      92|       81|        4|              33|               5|               2|            291|                 0|           23|                 1|               1|               0|         0|         0|         0|         0|         0|          0|       0|              4|Não possui crianç...|   55|         1|
|  11|  387|          1976|      Basico|      Casado|7500.0|              0|                  0|  2012-11-13|      59|        6|       16|              11|              11|               1|             16|                 1|            2|                 0|               3|               8|         0|         0|         0|         0|         0|          0|       0|              3|Não possui crianç...|   45|         1|
| 238| 7297|          1973|   Graduação|    Solteiro|7500.0|              1|                  0|  2013-12-26|      54|        5|        3|              10|              12|               7|             20|                 4|            3|                 1|               3|               7|         0|         0|         0|         0|         0|          0|       0|              3|Possui criança em...|   48|         2|
| 439|  456|          1986|   2nd Ciclo|      Casado|7500.0|              1|                  0|  2013-02-07|      96|        1|       11|               5|               4|               6|              9|                 2|            2|                 0|               3|               8|         0|         0|         0|         0|         0|          0|       0|              4|Possui criança em...|   35|         3|
| 862| 9553|          1987|   Graduação|      Casado|7500.0|              0|                  0|  2013-01-09|      94|        0|        2|               3|               4|               1|              5|                 1|            0|                 0|               3|               6|         0|         0|         0|         0|         0|          0|       0|              4|Não possui crianç...|   34|         4|
|1152|10710|          1979|   Graduação|      Casado|7500.0|              0|                  1|  2012-08-29|      61|        5|        2|               3|               3|               0|              5|                 1|            1|                 0|               2|               8|         0|         0|         0|         0|         0|          0|       0|              4|Não possui crianç...|   42|         5|
|1246| 4136|          1992|      Basico|    Solteiro|7500.0|              1|                  0|  2012-12-03|      63|       10|       17|              18|               8|              26|             40|                 4|            3|                 2|               2|               9|         0|         0|         0|         0|         0|          0|       0|              4|Possui criança em...|   29|         6|
|2029|10001|          1985|   2nd Ciclo|       Junto|7500.0|              1|                  0|  2012-08-01|      98|        5|       17|              17|              13|              14|             34|                 4|            2|                 1|               3|               9|         0|         0|         0|         0|         0|          0|       0|              4|Possui criança em...|   36|         7|
|  44| 2139|          1975|    Mestrado|      Casado|7500.0|              1|                  0|  2013-10-02|      19|        3|        1|              10|               3|               2|             12|                 3|            2|                 0|               3|               5|         0|         0|         0|         0|         0|          0|       0|              5|Possui criança em...|   46|         8|
|  46| 9909|          1996|   2nd Ciclo|      Casado|7500.0|              0|                  0|  2012-11-09|      24|        3|       18|              14|              15|              22|             50|                 3|            3|                 1|               3|               9|         0|         0|         0|         0|         0|          0|       1|              5|Não possui crianç...|   25|         9|
+----+-----+--------------+------------+------------+------+---------------+-------------------+------------+--------+---------+---------+----------------+----------------+----------------+---------------+------------------+-------------+------------------+----------------+----------------+----------+----------+----------+----------+----------+-----------+--------+---------------+--------------------+-----+----------+
only showing top 20 rows